<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
             <div class="JIRODO"><h1>JIRODO</h1></div><br><br><br>
          </div>
        </div>
      </div>

        <div class="col-md-6 col-md-offset-3 text-center">
          <%= search_form_for(@search, url: jiros_path) do |f| %>
            <div class="input-group">
            	<div class="form-group  has-feedback">
                    <%= f.text_field :shop_name_cont, class: "form-control", placeholder: '店名で検索' %>
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                </div>
                <span class="input-group-btn">
                    <%= f.submit '検索する', class: 'btn btn-success' %>
                </span>
            </div>
          <% end %>
        </div>

</section>
<div class="landing-section gray-color">
  <div class="container">
    <h1>JIRODOの機能</h1><br><br><br>
    <div class="row">
      <div class="col-sm-4">
        <div class="landing-description">
          <i class="fa fa-4x fa-search text-warning sr-icons"></i>
          <h2>検索</h2>
          <p class="text-muted">ラーメン二郎全店舗を検索できます。<br>各店舗の特徴を把握しておこう！</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="landing-description">
          <i class="fa fa-4x fa-heart text-warning sr-icons"></i>
          <h2>マイ二郎</h2>
          <p class="text-muted">お気に入りの店舗にいいね！ができます。<br>マイ二郎にした店舗は一覧で表示できます！</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="landing-description">
          <i class="fa fa-4x fa-commenting-o text-warning sr-icons"></i>
          <h2>レビュー</h2>
          <p class="text-muted">お店にレビューができます。<br>ジロリアンみんなで情報を共有していこう！</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="about">
  <h1>
    <p>早速、あなたのアカウントも作ってみませんか！</p><br>
    <p>JIRODOで楽しい二郎ライフを！</p>
    <h2 class="btn btn-info fa fa-sign-in"><a href="/users/sign_up">新規登録（無料）</a></h2>
  </h1>
</section>
