<% if user_signed_in? %>


  <% if jiro.favorite_user(current_user.id) %>
    <div id="favorite-destroy-button_<%= jiro.id %>">
      <%= button_to jiro_favorite_path(jiro, @favorites), method: :delete, remote: true do %>
        <img src="<%= asset_path "icon_red_heart.png" %>">
        <span>
          <%= jiro.favorites.count %>
          <li>現在<%= jiro.favorites.count %>人がマイ二郎にしています！</li>
        </span>
      <% end %>
    </div>
  <% else %>
    <div id="favorite-create-button_<%= jiro.id %>">
      <%= button_to jiro_favorites_path(jiro), remote: true do %>
        <img src="<%= asset_path "icon_heart.png" %>">
        <span>
          <%= jiro.favorites.count %>
          <li>現在<%= jiro.favorites.count %>人がマイ二郎にしています！</li>
        </span>
      <% end %>
    </div>
  <% end %>

<% else %>
  <p>ログインしてマイ二郎しよう！人気の店舗もリサーチできる！</p>


<% end %>
