<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="page-header">店舗一覧</h1>

      <div class="card mb-4">
        <% @jiros.each do |jiro| %>
        <div class="row">
        <div class="panel panel-warning">
         <div class="panel-heading">
           <div class="text-left">
           <%= link_to jiro_path(jiro.id) do %>
             <h4><strong><%= jiro.shop_name %></strong></h4>
           <% end %>
           </div>
         </div>

            <%= link_to jiro_path(jiro.id) do %>
            <div class="panel-body">
              <div class="panel-body-left col-xs-12 col-md-6">
                <div class="cover">
                      <%= image_tag(jiro.image) %>
                </div>
              </div>
              <div class="panel-body-right  col-xs-12 col-md-6">
                  <div class="panel-text">
            <% end %>
                    <div class="text-left">
                      <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i><%= jiro.shop_address %></p>
                      <p><i class="fa fa-train fa-lg" aria-hidden="true"></i><%= jiro.nearest_station %></p>
                      <p><i class="fa fa-calendar-times-o fa-lg" aria-hidden="true"></i><%= jiro.holiday %></p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="panel-footer">
              <ul class="list-inline">
                <li><%= render partial: 'favorites/favorites', locals: { jiro: jiro } %></li>
                <li>現在<%= jiro.favorites.count %>人がマイ二郎にしています！</li>
              </ul>
            </div>
        </div>
        </div>
        <% end %>


        <%= paginate @jiros %>
      </div>

          <!-- Pagination -->

    </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h1 class="page-header">店舗検索</h1>
            <div class="card-body">
              <div class="input-group">
                <%= search_form_for(@q, url: jiros_path, class: 'well') do |f| %>
                  <%= f.label :shop_name_cont, '店舗名' %>
                  <%= f.text_field :shop_name_cont, class: "form-control", placeholder: '店名' %>
                <div>
                </br></br></br>
                  <%= f.submit '検索する', class: 'btn btn-primary' %>
                </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      <!-- /.row -->
  </div>
</div>
    <!-- /.container -->
