<div class="container">

  <div class="row">

    <div class="col-md-8">
      <%= form_for(@jiro) do |f| %>
        <h1 class="shop-name-heading"><%= @jiro.shop_name %></h1>
    </div>

  </div>

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><%= link_to "店舗情報", jiro_path(@jiro.id) %></a></li>
    <li role="presentation"><%= link_to "レビュー", jiro_reviews_path(@jiro) %></a></li>
    <li role="presentation"><%= link_to "投稿", new_jiro_review_path(@jiro) %></a></li>
  </ul>

  <div class="row">
    <div class="col-md-8">
        <div class="shop-image">
          <%= image_tag(@jiro.image) %>
        </div>
        <!-- 店舗概要 -->
        <p class="shop-bio"><h1><%= simple_format(@jiro.content) %></h1></p>
        <!-- 店舗テーブル -->
        <div class="table-responsive">
          <div class="text-left">
          <table class="table table-bordered table-condensed">
            <tbody>
              <tr>
                <th scope="row">住所</th>
                <td><%= @jiro.shop_address %></td>
              </tr>
              <tr>
                <th scope="row">電話番号</th>
                <td><%= @jiro.telephone_number %></td>
              </tr>
              <tr>
                <th scope="row">最寄り駅</th>
                <td><%= simple_format(@jiro.nearest_station) %></td>
              </tr>
              <tr>
                <th scope="row">営業時間</th>
                <td><%= simple_format(@jiro.hours) %></td>
              </tr>
              <tr>
                <th scope="row">定休日</th>
                <td><%= @jiro.holiday %></td>
              </tr>
              <tr>
                <th scope="row">メニュー</th>
                <td><%= simple_format(@jiro.menu) %></td>
              </tr>
              <tr>
                <th scope="row">注意事項</th>
                <td><%= simple_format(@jiro.note) %></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      <% end %>
    </div>


   <div class="col-md-4">

      <!-- Side Widget -->
    <div class="well">
      <div class="card my-4">

        <div class="card-body">
          <%= link_to "レビューを見る", jiro_reviews_path(@jiro), class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </br></br></br>
      <div class="card my-4">

        <div class="card-body">
          <%= link_to "レビューを投稿する", new_jiro_review_path(@jiro), class: "btn btn-warning btn-lg" %></i>
        </div>
      </div>
    </div>
  </div>
</div>
