<%= form_for([jiro,review]) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= review.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :jiro_id %>
  <div class="field">
    <%= f.text_field :content, placeholder: "内容", class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
