<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>レビュー</h1>
    <%= link_to "レビューを投稿する", new_jiro_review_path(@jiro), class: "btn btn-warning btn-lg" %>
    <%= link_to "店舗詳細に戻る", jiro_path(@jiro), class: "btn btn-default btn-lg" %>
    </br></br></br>

    <% @reviews.each do |review| %>
     <% unless review.id.nil? %>
     <div class="row">
       <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><strong><a href="/houses/1"><%= review.title %></a></strong></h3>
        </div>
        <div class="panel-heading">
          <%= profile_img(review.user) %>
          <%= review.user.name %>さんの口コミ
        </div>
        <div class="panel-body">
          <div class="index-house-body-left col-xs-12 col-md-6">
                  <%= image_tag(review.image) %>
          </div>
          <div class="index-house-body-right  col-xs-12 col-md-6">
                <div class="index-house-text">
                  <p><%= simple_format(truncate(review.content,:length => 200)) %></p>
                  <p><%= link_to '続きを見る', jiro_review_path(id: review.id), class: 'btn btn-default btn-sm btn-success' %></p>
                </div>
          </div>
        </div>
      </div>
     </div>
     <% end %>
    <% end %>

</div>
