<p id="notice"><%= notice %></p>
<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
     <div class="row">
       <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><strong><%= @review.title %></strong></h3>
        </div>
        <div class="panel-heading">
          <%= profile_img(@review.user) %>
          <%= @review.user.name %>さんの口コミ
        </div>

        <div class="panel-body">
          <div class="index-house-body-left col-xs-12 col-md-6">
                  <%= image_tag(@review.image) %>
          </div>
          <div class="index-house-body-right  col-xs-12 col-md-6">
                <div class="index-house-text">
                  <p><%= simple_format(@review.content) %></p>
                  <% if current_user.id == @review.user_id %>
                    <%= link_to "編集", edit_jiro_review_path(id: @review.id), class: 'btn btn-default btn-sm btn-success' %>
                    <%= link_to '削除', jiro_review_path(id: @review.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-default btn-sm btn btn-danger' %>
                  <% end %>
                </div>
          </div>
        </div>
      </div>
     </div>

  <div class="panel panel-warning">
   <div class="panel-heading">
    <p>コメント</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, review: @review } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
    <% if current_user.id == @review.user_id %>
      <%= link_to '編集', edit_review_path(@review) %> |
    <% end %>
    <%= link_to '戻る', reviews_path %>
   </div>
  </div>
</div>
