<p id="notice"><%= notice %></p>
<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <div class="well">
     <div class="row">
       <div class="index-house">
        <div class="index-house-header list-inline">
          <li><%= profile_img(@review.user) %></li>
          <li><%= @review.user.name %>さんの口コミ</li>
        </div>
        <div class="index-house-header list-inline">
          <li><h4><strong><a href="/houses/1"><%= @review.title %></a></strong></h4></li>
        </div>

        <div class="index-house-body">
          <div class="index-house-body-left col-xs-12 col-md-6">
                  <%= image_tag(@review.image) %>
          </div>
          <div class="index-house-body-right  col-xs-12 col-md-6">
                <div class="index-house-text">
                  <p><%= simple_format(@review.content) %></p>
                </div>
          </div>
        </div>
      </div>
     </div>
  </div>

  <div class="well">
    <p>コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, review: @review } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
    <% if current_user.id == @review.user_id %>
      <%= link_to '編集', edit_review_path(@review) %> |
    <% end %>
    <%= link_to '戻る', reviews_path %>
  </div>
</div>
